<h1>Should I take an umbrella?</h1>

<form action="/process_umbrella" method="post">
<label for="loc_form">Where are you located?</label>
<input type="text" id="loc_form "name="user_loc">

<button>Submit</button>
</form>
